@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700;9..40,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border m-0 relative font-normal;
  }

  ::selection {
    color: #fff;
    background: #42b883;
  }

  body {
    @apply bg-dark font-main text-text-primary;
  }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  pre {
    font-family: inherit;
    font-size: inherit;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #1c1b1b;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #42b883;
  }

  .not-clickable {
    pointer-events: none
  }
  

  .disabled {
    @apply opacity-30 pointer-events-none;
    pointer-events: none;
  }
}

